



.hide {
	display: none;
}

h2 {
	text-align: center;
}

input[type=text] {
	height: 20px;	
}


#person {
	border:1px gray solid;
}

#container {
	width: 720px;
	margin: 0 auto;
}

#radio {
	display: table;
	margin: 0 auto;
	margin-bottom: 6px;
}

#person_data{
	margin: 0 auto;
}
#person_data, #person_data input {
	width: 200px;
}

#person_data input {
	display: inline-block;
	margin: 0 0 6px 0;	
}
#additionally>div {
	display: block;
	margin: 0 auto;
}
#additionally input{
	display: inline-block;
	font-size: 14px;
}

select.overflow {
	height: 200px;
}

fieldset>div {
	text-align: center;
	display: inline-block;
	margin: 30px 0 0 0;
}

label {
	display: block;
}
select {
	width: 200px;
}

/* UI corrections*/
.ui-selectmenu-button span.ui-selectmenu-text{
	padding: 0;
}

.ui-state-focus {
	background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	color: #1c94c4;
}